*{
    margin: 0;
    padding: 0;
   
    box-sizing: border-box;
    font-family: Poppins ;
  }

  body{
    min-height: 100vh;
    width: 100%;
   
  }
  
  .footback{
    background-image: url('./images/footingback.jpeg');
    height: 600px;
    background-attachment: fixed;
    background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
  }
  footer{
    
   
    width: 100%;
    bottom: 0;
    left: 0;
  }
  footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
  
  }
  footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 0px 40px 0px;
  }
  footer .content .top2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .content .top2 .logo-details{
    color: #fff;
    font-size: 30px;
  }
  .content .top2 .media-icons{
    display: flex;
  }
  .content .top2 .media-icons a{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
  }
  .top2 .media-icons a:nth-child(1){
    background: #4267B2;
  }
  
  .top2 .media-icons a:nth-child(2){
    background: #1DA1F2;
  }
  
  .top2 .media-icons a:nth-child(3){
    background: #E1306C;
  }
  
  .top2 .media-icons a:nth-child(4){
    background: #0077B5;
  }
  
  .top2 .media-icons a:nth-child(5){
    background: #FF0000;
  }
  .top2 .media-icons a:hover{
    color: #FF0000;
    background: #fff;
  }
  footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  .content .link-boxes .box .link_name{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    left: 25%;
    position: relative;
  }
  .icon4 {
    display: inline;
  }
  .icon4:hover{
    color: #123420;
    text-decoration: underline;
  }.box {
    color: white;
  }
  .icon2:hover{
    color: #123420;
    text-decoration: underline;
  }
  .link-boxes .box .link_name::before{
    
    position: absolute;
    left: 0;
    bottom: -2px;
    font-size: 24px;
    height: 2px;
    width: 45px;
    background: #fff;
  }
  .content .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
  }
  
  .content .link-boxes .box li a{
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
  }
  .content .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .content .link-boxes .input-box{
    margin-right: 55px;
  }
  .name{
    color: black;
  }
  .link-boxes .input-box input{
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #423d3d;
    background: white;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: black;
    margin-top: 5px;
  }
  .link-boxes .input-box input::placeholder{
    color: black;
    font-size: 16px;
  }
  .link-boxes .input-box input[type="button"]{
    background: #fff;
    color: #123420;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .input-box input[type="button"]:hover{
    opacity: 1;
  }
  footer .bottom-details{
    width: 100%;
    background: #123420;
  }
  footer .bottom-details .bottom_text{
    max-width: 1250px;
    color: #fff;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 300;
    color: white;
    opacity: 0.8;
    text-decoration: none;
  }
  .f8{
    background-color:#358556;
    margin-top: 4%;
    padding: 2%;
    border-radius: 8px;
    
  }
  .bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .bottom-details .bottom_text a{
    margin-right: 10px;
  }
  @media (max-width: 900px) {
    footer .content .link-boxes{
      flex-wrap: wrap;
    }
    footer .content .link-boxes .input-box{
      width: 40%;
      margin-top2: 10px;
    }
  }
  @media (max-width: 700px){
    .footback{
      height: 700px;
      background-size: cover;

    }
    footer{
      position: relative;
    }
    .content .top2 .logo-details{
      font-size: 26px;
    }
    .content .top2 .media-icons a{
      height: 35px;
      width: 35px;
      font-size: 14px;
      line-height: 35px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 3 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 60%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a{
      font-size: 12px;
    }
  }
  @media (max-width: 520px){
    .footback{
      background-size: cover;
      height: 700px;
    }
    footer::before{
      top2: 145px;
    }
    footer .content .top2{
      flex-direction: column;
    }
    .content .top2 .media-icons{
      margin-top2: 16px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 2 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 100%;
    }
  }